<h1>{{test.title}}</h1>
<div *ngIf="!isRunning && !isOver">
  <p>{{test.full_desc}}</p>
  <button
    type="button"
    (click)="startTest()">
    Начать тест
  </button>

</div>
<div *ngIf="isRunning">

  <p>Вопрос {{questionsCursor + 1}} из {{questionsLength}}</p>

  <otest-question [question]="currentQuestion" (next)="getNextQuestion($event)"></otest-question>

  <button
    type="button"
    (click)="finishTest()">
    Закончить тест
  </button>


</div>

<div *ngIf="isOver">
  Тест завершён. Вы набрали {{questionsLength - result}} из {{questionsLength}}.

  <p>Ошибки</p>

  <otest-question-result *ngFor="let q of wrongQuestions" [question]="q"></otest-question-result>

  <button
    type="button"
    (click)="startTest()">
    Ещё полразика
  </button>
</div>



